@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}

body, html {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    > .container.is-fluid {
        overflow: hidden;
    }
}

* {
    box-sizing: border-box;
}

html, div, label, span, p, h1, h2, h3, h4, h5, h6, b, i {
    font-family: 'Montserrat', sans-serif;
}

.editor-iframe-with-pager {
    min-height: calc(100vh - 220px);
}

.editor-iframe-no-pager {
    min-height: calc(100vh - 87px);
}

.sidebar-with-pager {
    height: calc(100vh - 213px);
    overflow: auto;
}

.sidebar-no-pager {
    height: calc(100vh - 80px);
    overflow: auto;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.height-50 {
    height: 50px !important;
}

.width-50 {
    width: 50px !important;
}

.width-100 {
    width: 100px !important;
}

.width-105 {
    width: 105px !important;
}

.width-140 {
    width: 140px !important;
}

.width-300 {
    width: 300px !important;
}

.width-416 {
    width: 416px !important;
}

.direction-column {
    flex-direction: column;
}

.no-radius {
    border-radius: 0 !important;
}

.is-info {
    background-color: #0E689A !important;
}

button {
    border-radius: 1px;
    background-color: #f5f5f5;
    cursor: pointer;
    border: none;
    outline: none;
}

.gray-background {
    background-color: #f5f5f5;
}

.dark-gray-color {
    color: #B2B1B1 !important;
}

.dark-gray-background-color {
    background-color: #B2B1B1 !important;
}

.svg-20 svg {
    width: 20px;
    height: 20px;
}

.blue-under {
    color: #8cb4ff;
    text-decoration: underline;
}

.stroke-white >* {
    stroke: #ffffff;
}
